record(subArray, "$(P)$(R)_") {
  field(FTVL, "$(FTVL)")
  field(INP, "$(INP) CP")
  field(MALM, "$(MALM)")
  field(INDX, "$(INDX)")
  field(PREC, "$(PREC)")
}

record(ai, "$(P)$(R)") {
  field(INP, "$(P)$(R)_ CP")
}
